.account_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.account_container {
    background-color: var(--white-color);
    height: auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--black-shadow-color-light);
}

.account_container .form {
    display: flex;
    flex-direction: column;
}

.account_container .form input,
.account_container .form select {
    padding: 10px;
    margin: 5px;
    border: 1px solid var(--grey-border-color);
    border-radius: 5px;
    outline: none;
}

.account_container .form input:focus {
    border: 1px solid var(--black-color);
}

.account_container .form button {
    padding: 10px;
    margin: 20px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-theme-color);
    color: var(--white-color);
}

.account_container .form button:hover {
    box-shadow: 0 0 10px 3px var(--primary-theme-color);
}

.personal_info_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.signup_left input, .signup_right input {
    width: calc(100% - 32px);
}

.signup_left, .signup_right {
    width: 50%;
}

.signup_right .info_row {
    display: flex;
    gap: 10px;
}

.login_form {
    height: 100%;
}

.login_form .account_container {
    width: 300px;
}

.radio_input {
    text-align: left;
    margin: 10px 5px 5px;
}

.radio_input label {
    color: var(--black-color);
}

.radio_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio_btn label{
    margin-top: 10px;
    padding: 10px;
    width: calc(50% - 27px);
    border: 1px solid var(--grey-border-color);
    border-radius: 5px;
}

.primary_title {
    color: var(--primary-theme-color);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.redirect_link {
    margin-top: 10px;
    text-align: center;
}

.redirect_link span {
    color: var(--black-color);
}
.redirect_link a {
    color: var(--primary-theme-color);
}

.error {
    color: var(--red-text-color);
}

.error > * {
    margin: 0 0 12px;
}

.error > *:first-child {
    margin-top: 16px;
}

.error > *:last-child {
    margin-bottom: 16px;
}

.gender_field {
    position: relative;
    width: 100%;
}

.state_field {
    position: relative;
    width: 170px;
}

.state_field select,
.gender_field select {
    width: calc(100% - 10px);
    appearance: none;
}

.gender_unselected, .state_unselected {
    color: var(--grey-text-color);
}

.gender_unselected option, .state_unselected option {
    color: var(--black-color);
}

.select_arrow {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-text-color);
    pointer-events: none;
}

.state_field select:focus+.select_arrow,
.gender_field select:focus+.select_arrow  {
    color: var(--black-color);
}

#show_password {
    text-align: right;
    color: var(--grey-text-color);
    background: none;
    border: none;
    height: 0;
    width: auto;
    position: relative;
    z-index: 2;
    top: -34px;
    right: 15px;
    cursor: pointer;
}