:root {
    /* Theme and common color */
    --primary-theme-color: #bd269b;
    --white-color: #fff;
    --black-color: #000;

    /* Font's color */
    --grey-text-color: #666;
    --red-text-color: #f02849;

    /* Background's color */
    --white-smoke-bg-color: #f3f4f8;
    --gray-bg-color-lighter: #f0f0f0;
    --gray-bg-color: #d3d3d3;
    --dark-gray-bg-color: #3a3a3a;
    --navy-blue-bg-color: #0b2a49;
    --navy-blue-bg-color-darker: #1C2630;

    /* Border's color */
    --grey-border-color: #d3d3d3;
    --navy-blue-border-color-darker: #1C2630;

    /* Transparent color */
    --black-shadow-color-light: rgba(0, 0, 0, 0.25);
    --black-shadow-color-heavy: rgba(0, 0, 0, 0.8);
}


body {
    overflow-x: hidden;
}

button, input, textarea, select {
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-size: 16px;
    color: var(--black-color);
}

/* Style for Custom Classes */
.signup_page {
    width: 100%;
    height: 100%;
    min-width: 600px;
}

.default_btn {
    padding: 12px 24px;
    border-radius: 8px;
    background-color: var(--primary-theme-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.default_btn:hover {
    box-shadow: 0 0 10px 0 var(--primary-theme-color);
}

.link_text {
    color: inherit;
    text-decoration: inherit;
}

.ps-menuitem-root:hover {
    color: var(--primary-theme-color);
}

.ps-sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.default_dropdown_field select {
    width: calc(100% - 10px);
}

.text-align-center {
    text-align: center;
}

.default_btn_group {
    margin: 40px 0 20px;
    display: flex;
    justify-content: space-between;
}

.default_btn_group button {
    font-weight: bold;
}

.default_error {
    color: var(--red-text-color);
    font-weight: bold;
    text-align: center;
}