.layout {
    background-color: var(--white-smoke-bg-color);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.header {
    text-align: center;
    background-color: var(--white-color);
    top: 0;
}

.header H1 {
    color: var(--primary-theme-color);
    font-size: 44px;
    padding: 20px 0;
    margin: 0 auto;
}

.admin_portal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: var(--navy-blue-bg-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin_portal .logout_bnt {
    width: 150px;
}

.admin_portal.header H1{
    color: var(--white-color);
    text-align: left;
    font-size: 36px;
    margin: 0;
}

.container {
    background-color: var(--white-smoke-bg-color);
    display: flex;
    height: calc(100% - 84px);
}

.main_content {
    width: 100%;
    padding: 20px 80px;
    overflow-y: scroll;
}

.sidebar {
    color: var(--white-color);
    font-size: 1.2rem;
    width: 200px;
    height: 100%;
}

.collapsed_btn {
    text-align: right;
}

.sidebar_footer {
    padding: 20px;
}

.sidebar .active_tab{
    color: var(--primary-theme-color);
    background-color: var(--white-smoke-bg-color);
}

.logout_bnt {
    display: flex;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--navy-blue-bg-color);
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--white-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.logout_bnt:hover {
    box-shadow: 0 0 10px 0 var(--white-color);
}
