.search_container {
    margin-bottom: 30px;
}

.search_form {
    border: var(--navy-blue-bg-color) 1px solid;
    margin: 10px 0;
    border-radius: 30px;
}

.search_input, .search_button {
    outline: none;
    border: none;
    background-color: transparent;
}

.search_input {
    padding: 10px 20px;
    width: calc(100% - 80px);
}

.search_button {
    display: inline-block;
    width: 40px;
    height: 100%;
}

.search_button {
    font-size: 20px;
}

.clear_button {
    font-size: 14px;
    color: var(--primary-theme-color);
    margin-left: 20px;
    cursor: pointer;
}