html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-size: 16px;
    color: var(--black-color);
}

a {
  font-weight: 500;
  color: var(--primary-theme-color);
}
a:hover {
  color: var(--primary-theme-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}